.project-container {
    background-color: #2C2C2C;
    min-height: 100vh; /* Ensures it fills the full viewport height */
    width: 100%; /* Full width */
    display: flex;
    padding: 5px;
    box-sizing: border-box; /* Ensures padding doesn't overflow */
}

.projects-intro-container {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    padding: 60px;
    max-width: 100%;
    position: relative;
    box-sizing: border-box;
    justify-content: center;
    color: white;
}

.projects-article-container {
    margin-left: 20%;
    left: 5px;
    position: relative;
    width: 100%;
    align-items: center;
}

.projects-ul{
    list-style: none;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 40px;
    padding: 0;
}

@media (max-width: 1200px){
    .projects-article-container{
        margin-left: 0;
    }
}

@media (max-width: 435px){
    .projects-intro-container{
        padding: 30px;
    }

    .projects-article-container{
        left: 0;
    }
}
