.projectCard-container{
    outline: 1px solid #7a7a7a;
    height: 240px;
    width: 400px;
    background-color: #3a3a3a;
    border-radius: 10px;
    color: white;
    display: flex;
    flex-direction: column;
    padding-left: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 6px 20px rgba(0, 0, 0, 0.1);
}

.projectCard-container:hover{
    outline: 1px solid #89CFF0 ;
    color: #89CFF0;
}

.projectCard-header{
    font-size: 20px;
    margin-bottom: 10px;
}

.projectCard-subheader{
    color: #b0b0b0;
    font-size: 14px;
    margin: 0;
    padding: 0;
    padding-right: 10px;
    font-weight: lighter;
}

.projectCard-span{
    gap: 10px;
    padding-top: 10px;
    display: flex;
}

.projectCard-span-div{
    gap: 5px;
    font-size: 12px;
    justify-content: center;
    align-items: center;
    display: flex;
    background-color: #2c2c2c;
    outline: 0.5px solid #7a7a7a;
    height: 18px;
    border-radius: 10px;
    width: auto;
    padding: 5px;
}

.projectCard-span-div-title{
    color: white;
    font-weight: normal;
}

.span-git{
    cursor: pointer;
    width: 75px;
    color: white;
    padding: 10px;
    margin-top: auto;
    bottom: 0;
    position: border-box;
    gap: 10px;
    align-items: center;
    display: flex;
    font-weight: bolder;
}

.span-git:hover{
    color: #89CFF0;
}

@media (max-width: 1025px) {
    .projectCard-container{
        width: 300px;
        height: 270px;
    }
}

@media (max-width: 825px){
    .projectCard-container{
        width: 100%;
    }
}

@media (max-width: 435px){
    .projectCard-container{
        height: 310px;
        width: 100%;
    }
}
