.list-sections {
    list-style: none;
    width: 250px;
    margin-left: auto;
    display: flex;
    gap: 15px;
}

.button{
    background-color: #89CFF0;
    outline: 1px solid #7A7A7A;
    border: none;
    border-radius: 5px;
    height: 60%;
    width: 40px;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: 1rem;
    cursor: pointer;
    display: none;
}

a {
    text-decoration: none;
    color: white;
}

.linkCard{
    height: 30px;
    width: 32px;
    outline: 0.5px solid #7A7A7A;
    border-radius: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* soft white shadow */
}

.phone-ul{
    list-style: none;
    display: flex;
    flex-direction: column;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-top: 0;
    gap: 10px;
    font-size: 18px;
    padding: 0;
    margin-bottom: 0;
}

.nav-footer{
    height: 40px;
    margin-top: 10;
    padding-left: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;
}

.phone-li{
    border-bottom: 1px solid #7a7a7a;
    padding: 2px;
    padding-left: 10px;
    width: 100%;
    display: flex;
}

.phone-li:hover{
    background-color: #89CFF0;
}

.phone-nav{
    background-color: #3a3a3a;
    position: absolute;
    top: 60px;
    height: 250px;
    width: 135px;
    display: flex;
    flex-direction: column;
    color: white;
    font-family: 'Poppins';
    margin-left: auto;
    right: 0;
    border-left: 0.5px solid #7a7a7a;
    border-right: 0.5px solid #7a7a7a;
    border-bottom: 0.5px solid #7a7a7a;
    border-top: 0.5px solid #7a7a7a;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}

@media (max-width: 545px){
    .list-sections{
        display: none;
    }

    .button{
        display: inline;
    }

}

